@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
.Login-Container{
margin:0 auto;
width: 35%;
height: 60%;
border: 3px solid green;
padding: 10px;
margin-top: 100px;
border-radius: 4px;
margin-bottom:200px;

background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.Login-Container h2 {
    text-align: center;
font-size: 30px;

/* -webkit-text-stroke: 0.1vw #383d52; */

background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s reverse infinite;
  /* display: inline-block; */
     
}

@keyframes textclip {
  to
{
    background-position: 200% center;
  }



}


form{
   display: flex;
   flex-direction: column;
align-items:center;

}
label{
 font-size: 20px;  
 margin-bottom: 5px;
 display: block;

}
input{
    padding: 5px;
    margin-bottom:  30px;
width: 110%;
border-radius: 5px;
color: #061216;
background-color:rgb(117, 187, 187);
}

button{
    margin: 20px;
   font-size: 30px;
   background-color: #343A40;
   border-radius: 4px;
   color: #fff;
   /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3); */
   
}




button:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%);
    /* animation: myMove 2s linear infinite; */
    animation: mymove 1s infinite;
}

